/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/img/avatars/**
!storage/app/imports/anime-offline-database.json
database/seeders/anime_additional_data.sql
/public/picture/**/*.jpg
/public/picture/**/*.jpeg
/public/picture/**/*.png
/public/picture/**/*.gif
/public/picture/**/*.bmp
/public/picture/**/*.webp
/public/picture/**/*.tiff
!/public/picture/**/*.zip
/public/thumbnail/**/*.jpg
/public/thumbnail/**/*.jpeg
/public/thumbnail/**/*.png
/public/thumbnail/**/*.gif
/public/thumbnail/**/*.bmp
/public/thumbnail/**/*.webp
/public/thumbnail/**/*.tiff
!/public/thumbnail/**/*.zip
