@tailwind base;
@tailwind components;
@tailwind utilities;

.dataTables_length select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

.dark .dataTables_paginate.paging_simple_numbers a.paginate_button,
.dark .dataTables_paginate.paging_simple_numbers a.paginate_button.previous.disabled,
.dark .dataTables_paginate.paging_simple_numbers a.paginate_button.next.disabled,
.dark .dataTables_paginate.paging_simple_numbers a.paginate_button.current {
    color: white !important;
}

.dark p,
.dark div {
    color: #F3F4F6; /* text-gray-100 */
}

.yadcf-filter {
    background: var(--dt-html-background);
    color: #F3F4F6;
    border-radius: 6px;
}

.dataTables_filter > label:nth-child(1) > input:nth-child(1) {
    border-radius: 6px;
}

#yadcf-filter--animeTable-2 {
    max-width: 200px;
}

#yadcf-filter--animeTable-6 {
    max-width: 120px;
}

#yadcf-filter--animeTable-7 {
    max-width: 62px;
}

.yadcf-filter-reset-button {
    margin-left: 10px;
}
