@tailwind base;
@tailwind components;
@tailwind utilities;
/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';*/

.dark p:not(.no-dark), .dark div:not(.no-dark) {
    color: #f3f4f6; /* text-gray-100 */
}

.dataTables_length select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
}

.no_dropdown_arrow {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    position: relative;
    padding-right: 36px;
}

.no_dropdown_arrow::after {
    content: '\25BC';
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
}

.no_dropdown_arrow_blank_select-wrapper {
  border-radius: 4px;
  display: inline-block;
}

.no_dropdown_arrow_blank {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  width: 100%;
  border: none;
  padding: 0.5em;
  color: white;
}


.dark .dataTables_paginate.paging_simple_numbers a.paginate_button,
.dark .dataTables_paginate.paging_simple_numbers a.paginate_button.previous.disabled,
.dark .dataTables_paginate.paging_simple_numbers a.paginate_button.next.disabled,
.dark .dataTables_paginate.paging_simple_numbers a.paginate_button.current {
    color: white !important;
}

.yadcf-filter {
    background: var(--dt-html-background);
    color: #F3F4F6;
    border-radius: 6px;
}

.dataTables_filter > label:nth-child(1) > input:nth-child(1) {
    border-radius: 6px;
}

.yadcf-filter-reset-button {
    margin-left: 10px;
}

.avatar-container {
    display: grid;
    width: 200px;
    height: 200px;
    place-items: center;
    overflow: hidden;
}

.avatar-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.tag-scroll {
  max-height: 90px;
  overflow-y: auto;
}

.text-clickable-link-blue {
    color: #abc4ed !important;
}
.text-clickable-link-blue:hover, .text-clickable-link:active {
    color: rgb(59 130 246 / 1) !important;
}
